.new_input {
  width: 300px;
  height: 40px;
  background: white;
  border: 2px solid #4f005f;
  outline: none;
  color: #1f1f1f;
  padding: 0 5px;
  font-size: 18px;
  border-radius: 8px;
}

.new_input_error {
  width: 300px;
  height: 40px;
  background: white;
  border: 2px solid red;
  outline: none;
  color: #1f1f1f;
  padding: 0 5px;
  font-size: 18px;
  border-radius: 8px;
}

.btn {
  width: 100px;
  height: 40px;
  background: #4f005f;
  color: white;
  border: none;
  font-size: 17px;
  border-radius: 8px;
}

.input_container {
  width: 500px;
  background: white;
  border-radius: 10px;
  margin: 100px auto 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.error_message {
  color: red;
}
